<nav class="navbar navbar-default">
<div >
	<div class="container-fluid">
		<div class="navbar-header">
			<a (click)="navigateTo('','')" class="navbar-brand" style="cursor:pointer">Power Education</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">Courses
  						<span class="caret"></span></a>
  					<ul class="dropdown-menu">
					    <li>
							<a (click)="navigateTo('browseCourses','ssc')" style="cursor: pointer">SSC</a>
							
						</li>
							
					    <li><a >Banking and Insurance Exams</a></li>
					    <li><a >State Level Exams</a></li>
					  </ul>
				</li>
			</ul>
			<!--<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>-->
			<ul class="nav navbar-nav">
				<li> <a style="cursor:pointer" (click)="navigateTo()">Shop</a></li>
				<li class="dropdown"> <!-- *ngIf="utilService.isUserLoggedIn && utilService.userInfo.role==='A';">
					<a class="dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">Admin
  						<span class="caret"></span></a>
  					<ul class="dropdown-menu">
					    <li>
							<a (click)="navigateTo()" style="cursor: pointer">Upload Question</a>
							
						</li>
							
					    <li><a (click)="navigateTo()">Set Paper</a></li>
					  </ul>-->
		<mat-card-content *ngIf="userRole == this.defineConstants.ROLE_ADMIN">
			<button mat-raised-button color="white" [matMenuTriggerFor]="menu">Admin</button>
			<mat-menu #menu="matMenu" [overlapTrigger]="false"> 
				<button mat-menu-item> 
					<span>Dashboard</span>
				</button>
				<button mat-menu-item [matMenuTriggerFor]="QMenu"> 
					<span>Questions</span>
				</button>
				<button mat-menu-item [matMenuTriggerFor]="TMMenu"> 
					<span>Test Manager</span>
				</button>
				<button mat-menu-item [matMenuTriggerFor]="PMenu"> 
					<span>Product</span>
				</button>
				<button mat-menu-item [matMenuTriggerFor]="CMenu"> 
					<span>Candidate</span>
				</button>
			</mat-menu>
			<mat-menu #QMenu="matMenu">
				<button mat-menu-item (click)="navigateTo('QManager','Q')">Question</button>
				<button mat-menu-item (click)="navigateTo('importQuestionView','Q')">Import Question</button>
				<button mat-menu-item (click)="navigateTo('manageEntityView','Q')">Subject</button>
			</mat-menu>
			<mat-menu #TMMenu="matMenu">
				<button mat-menu-item>View All Tests</button>
				<button mat-menu-item (click)="navigateTo('testManagerView','Q')">Create Test</button>
			</mat-menu>
			<mat-menu #PMenu="matMenu">
				<button mat-menu-item>Product</button>
				<button mat-menu-item>Doscount</button>
				<button mat-menu-item>Doscount Distribution</button>
				<button mat-menu-item>Payment</button>
				<button mat-menu-item>Product Link</button>
			</mat-menu>
			<mat-menu #CMenu="matMenu">
				<button mat-menu-item>Add Candidate</button>
				<button mat-menu-item>Add Group</button>
				<button mat-menu-item>Import Data</button>
			</mat-menu>
    </mat-card-content>
				</li>
		
				<li> <a style="cursor:pointer" (click)="navigateTo('')">About us</a></li>
				<li> <a style="cursor:pointer" (click)="navigateTo('')">Contact us</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right" >
						<!--<li *ngIf="utilService.userInfo.role==='A'"> Bookmark</li>-->
						<li *ngIf="!utilService.isUserLoggedIn; else elseBlock">
							<a (click)="signMeIn()" style="cursor:pointer"> <span class="glyphicon glyphicon-user"></span>Log in</a>
						</li>
						<ng-template #elseBlock>
							<li style="padding-top: 15px;"> Welcome {{utilService.userInfo.fName}} </li>
					<li><a (click)="loggingOut()" style="cursor:pointer"> <span class="glyphicon glyphicon-user"></span>Log out</a></li>
			</ng-template>
			</ul>
			
		</div>
	</div>
</div>
</nav>