<nav class="navbar navbar-default">
<div >
	<div class="container-fluid">
		<div class="navbar-header">
			<a (click)="navigate()" class="navbar-brand" style="cursor:pointer">Power Education</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">Courses
  						<span class="caret"></span></a>
  					<ul class="dropdown-menu">
					    <li>
							<a (click)="navigateToCourses('ssc')" style="cursor: pointer">SSC</a>
							
						</li>
							
					    <li><a >Banking and Insurance Exams</a></li>
					    <li><a >State Level Exams</a></li>
					  </ul>
				</li>
			</ul>
			<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
			<ul class="nav navbar-nav">
				<!--<li> <a (click)="navigateToCourses()" style="cursor:pointer">Browse courses</a></li>-->
				<li> <a style="cursor:pointer" (click)="navigateToTestSeries('')">Exams</a></li>
				<li> <a style="cursor:pointer" (click)="navigateToTestSeries('test')">Begin Test</a></li>
				<li> <a style="cursor:pointer" (click)="navigateToTestSeries('')">Contact us</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right" >
						<li *ngIf="!commonService.isUserLoggedIn; else elseBlock">
							<a (click)="signMeIn()" style="cursor:pointer"> <span class="glyphicon glyphicon-user"></span>Sign in</a>
						</li>
						<template #elseBlock>
							<li style="padding-top: 15px;"> Welcome {{commonService.userInfo.FName}}</li>
					<li><a (click)="loggingOut()" style="cursor:pointer"> <span class="glyphicon glyphicon-user"></span>Log out</a></li>
			</template>
			</ul>
			
		</div>
	</div>
</div>
</nav>