<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" [ngClass]="{'active':typeOfDetails=='examInfo'}"  ><a (click)="getDetails('examInfo')">Exam Info</a></li>
  <li role="presentation" [ngClass]="{'active':typeOfDetails=='testSeries'}"><a  (click)="getDetails('testSeries')">Test Series</a></li>
  <li role="presentation" [ngClass]="{'active':typeOfDetails=='news'}" ><a (click)="getDetails('news')">News</a></li>
</ul>

<div *ngIf="type==='testSeries'">
  Test Series for <h3>{{pageView}} </h3>
  <app-begin-test-component ></app-begin-test-component>

</div>

<div *ngIf="type==='examInfo'">
    <button mat-raised-button >Basic</button> 
    <button mat-raised-button color="primary">Basic</button> 
</div>
<!--<div *ngIf="type==='news'">
    News
	
	
</div>-->

