<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" [ngClass]="{'active':typeOfDetails=='examInfo'}"  ><a (click)="getDetails('examInfo')">Exam Info</a></li>
  <li role="presentation" [ngClass]="{'active':typeOfDetails=='testSeries'}"><a  (click)="getDetails('testSeries')">Test Series</a></li>
  <li role="presentation" [ngClass]="{'active':typeOfDetails=='news'}" ><a (click)="getDetails('news')">News</a></li>
</ul>

<div *ngIf="type==='testSeries'">
    This is test Series.
</div>

<div *ngIf="type==='examInfo'">
    This is Exam Info.
</div>
<div *ngIf="type==='news'">
    This is News about Exam.
</div>

