<app-header></app-header>
<!--<app-left class="col-sm-3 col-md-2" style="background-color:#aefefe; margin-top: 50px"></app-left>-->
<div style="min-height:600px ">  
    <app-master-page class="col-sm-12 col-md-12" *ngIf="utilService.mainPageView"></app-master-page>
    <app-browse-courses-view #childView *ngIf="utilService.browseCoursesView" style="margin-top: 50px"></app-browse-courses-view>
    <app-test-series *ngIf="utilService.testSeries" style="margin-top: 50px"> </app-test-series>
    <app-question-manager-component *ngIf="utilService.qManagerView"></app-question-manager-component>
    <app-add-questions *ngIf="utilService.addQuestionView"></app-add-questions>
    <app-admin-panel-component *ngIf="utilService.adminPanelView"></app-admin-panel-component>
    <app-import-questions-xls *ngIf="utilService.importQuestionView"></app-import-questions-xls>
    <app-manage-entity *ngIf="utilService.manageEntityView"></app-manage-entity>
    <app-test-manager-view *ngIf="utilService.testManagerView"></app-test-manager-view>
    <app-test-categogy-view *ngIf="utilService.testProductView"></app-test-categogy-view>
    <app-view-all-tests *ngIf="utilService.allTestsView"></app-view-all-tests>
    <app-begin-test-component *ngIf="utilService.beginTestView"></app-begin-test-component>
    <app-candidate-home *ngIf="utilService.candidateHomePageView"></app-candidate-home>

</div>
<app-footer *ngIf="!utilService.mainPageView"></app-footer>
