 
<div> 
<div class="col-md-12">
  <div class="col-md-8"></div>
    <div class="col-md-4 float-right" ></div>
</div>
<div class="col-md-12">
<!--
  <div class="col-md-2">
    <mat-form-field>
      <mat-select placeholder="Select Course" [(ngModel)]="selectedCourse" name="course" (change)="subjectChanged('course')">
        <mat-option *ngFor="let course of courses" [value]="course.value">
          {{course.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->
  <div class="col-md-3">
    <mat-form-field>
      <mat-select placeholder="Select Subject" [(ngModel)]="selectedSubject" name="subject" (change)="subjectChanged('subject')">
        <mat-option *ngFor="let subject of subjects" [value]="subject.value">
          {{subject.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <mat-select placeholder="Select Topic" [(ngModel)]="selectedTopic" name="topic" (change)="topicChanged()">
        <mat-option *ngFor="let topic of topics" [value]="topic.value">
          {{topic.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <mat-select placeholder="Select Choice" [(ngModel)]="selectedChoice" name="choice">
        <mat-option *ngFor="let choice of this.definedConstants.DATA_QUESTION_CHOICE" [value]="choice.value">
          {{choice.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-2">
       <mat-form-field class="example-full-width" >
          <input matInput  maxlength="32" placeholder="Enter" [(ngModel)]="tags">
          <mat-hint align="end">{{tags.length}} / 32</mat-hint>
          
        </mat-form-field>
  </div>
  <div class="col-md-1">
    <button mat-raised-button class="float-right" color="primary" (click)="fetchQuestions()">Apply</button>
    <button mat-raised-button class="float-right" color="primary" (click)="navigateToAddQ()"
    *ngIf="source!==definedConstants.SOURCE_TEST_M">Add Questions</button>
  </div>
</div>
<div class="col-md-12 container-fluid">
  <div class="col-md-1"></div>
    <div *ngIf="isLoading">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="4" fill="#EEEEEE" animationDuration="2s"></p-progressSpinner>
  </div>
  <div class="col-md-10" *ngIf="!isLoading">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    <button type="button" icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:right">Download</button>
</div>
      <p-dataTable [value]="outputQuestions"  [rows]="10" sortMode="multiple" exportFilename="cars" 
                   [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked"
                   [globalFilter]="gb" #dt  expandableRows="true" (onRowExpand)="rowExpand()">
         <p-header>
       
    </p-header>
            <p-column expander="true" styleClass="col-icon" [style]="{'width':'25px'}"></p-column>
        <p-column field="question" header="Question" [editable]="true" [style]=" {'overflow':'visible' }"
        [sortable]="true"></p-column>
        <p-column field="difficultyLevel" header="Difficulty Level" [sortable]="true"></p-column>
        <p-column field="tagId" header="Tag" [sortable]="true"></p-column>
        <p-column>
         <ng-template pTemplate="header">
            Action
        </ng-template>
         <ng-template let-question="rowData" let-index="rowIndex"  pTemplate="body" >
           <div *ngIf="source!==definedConstants.SOURCE_TEST_M">
              <button type="button"  mat-raised-button color="primary" (click)="editQuestion(question)" >Edit</button>
              <button type="button"  mat-raised-button color="primary" (click)="deleteQuestion(question,index)">Delete</button>
           </div>
           <div *ngIf="source===definedConstants.SOURCE_TEST_M">
             <button type="button"  mat-raised-button color="primary" (click)="addToTest(question)" >Add To Test</button>
           </div>
        </ng-template>
        </p-column>
        <ng-template let-question pTemplate="rowexpansion">
          
                  <table>
                    <tr *ngFor="let ans of question.answers;let index=index">
                      <td>Option {{index +1}}</td><td>{{ans.text}}</td>
                    </tr>
                  </table>

                 
                
          </ng-template>
      </p-dataTable>
  </div> 
  <div class="col-md-1"></div>
</div>
</div>