<div ng-submit="save()">
  <div class="container-fluid" >
   
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h3 class="modal-title">Enter your login creadendials</h3>
    </div>
    <div class="modal-body" >
      <div *ngIf="viewType=='signIn'">
 
    <!--<form (ngSubmit)="signIn()" #loginForm="ngForm">
  <div class="form-group">  
    <span class="help-block" class="text-danger"
              *ngIf="loginError[0].hasErrors!==false"> {{loginError[0].loginError}}<hr></span>
              
     <label for="email">User Name</label>
          <input type="text" class="form-control" id="userName"
            name="userName" ngModel required minlength="3" maxlength="25" #userName="ngModel"> 
            <span class="help-block" style="color: red"
              *ngIf="!userName.valid &&  userName.touched"> Please enter valid User Name</span>
  </div>
  <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" 
            name="password" ngModel required minlength="3" maxlength="25" #password="ngModel">
             <span class="help-block" style="color: red"
              *ngIf="!password.valid &&  password.touched"> Please enter valid password</span>
          </div>
 <div class="modal-footer">
      <div class="row">
        <button class="btn btn-success" [disabled]="!loginForm.valid">Sign In</button>
        <button class="btn btn-info pull-left" (click)="signup()">Sign Up</button>
        
      </div>
    </div>
    </form>-->
    <div class="example-container">
      <form [formGroup]="loginForm">
      <mat-form-field>
        <input matInput placeholder="Enter User Name" formControlName="userName" name="userName" minlength="3" maxlength="25" > 
        <mat-error *ngIf="loginError[0].hasErrors!==false"> {{loginError[0].loginError}}</mat-error>
      </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" formControlName="password" matInput placeholder="Enter Password" required minlength="3" maxlength="25"/>
    </mat-form-field>
     <div class="row" *ngIf="hasErrors" style="color: red;">
          <span *ngIf="loginError[0].loginError!==''" class="pull-left">{{loginError[0].loginError}}</span>
        </div>
      <div class="modal-footer">
       
        <div class="row">
          <button class="btn btn-success" [disabled]="!loginForm.valid" (click)="signIn()">Sign In</button>
          <button class="btn btn-info pull-left" (click)="signup()">Sign Up</button>
        </div>
      </div>
  </form>
</div>
        
      </div>
      <div *ngIf="viewType=='signUp'">
        <form [formGroup]="signUpForm" (ngSubmit)="save()">
          <div class="form-group form-inline">
            <div class="row col-md-12" style="padding-top: 6px">
              <span class="col-md-6">
           <!--<label for="First Name" class="col-md-6">First Name</label>-->
                <input type="text" class="form-control col-md-6" id="uNm"
                formControlName="uNm" placeholder="Enter User Name" (blur)="validateUserName();">
            </span>
            <span class="col-md-6">
            <!--<label  for="Last Name" class="col-md-6 pull-right">Last Name</label>-->
            <input type="text" class="form-control col-md-6 pull-right" id="email"  
            formControlName="email" placeholder="Enter email Address">
            </span>
          
          </div>
          <div class="row col-md-12" style="padding-top: 6px">
            <span class="col-md-6">
           <!--<label for="First Name" class="col-md-6">First Name</label>-->
              <input type="text" class="form-control col-md-6" id="fNm"  
              formControlName="fNm" placeholder="Enter First Name">
            </span>
            <span class="col-md-6">
            <!--<label  for="Last Name" class="col-md-6 pull-right">Last Name</label>-->
            <input type="text" class="form-control col-md-6 pull-right" id="lNm"
            formControlName="lNm" placeholder="Enter Last Name">
            </span>
          
          </div>
          <div class="row col-md-12" style="padding-top: 6px">
            <span class="col-md-6" >
           <!--<label for="First Name" class="col-md-6">Password</label>-->
              <input type="password" class="form-control col-md-6" id="pwd"
              formControlName="pwd" placeholder="Enter Password">
            </span>
            <span class="col-md-6">
            <!--<label  for="Last Name" class="col-md-10 pull-right">Confirm Password</label>-->
            <input type="password" class="form-control col-md-6 pull-right" id="cPwd"  
            formControlName="cPwd" placeholder="Confirm Password" (change)="validatePassword()">
            </span>
          
          </div>
         <div class="row">
         </div>

         <div class="row">  <span class="help-block"> *All Fields are Mandatory</span>  
         </div>
        </div>
     <div class="modal-footer">
       <div class="row pull-left" *ngIf="hasErrors" style="color: red">
          {{loginError[0].signUpError}}
          {{loginError[0].cPasswordError}}
       </div>
      <div class="row">
        <button class="btn btn-success" [disabled]="!signUpForm.valid && hasErrors && loginError[0].hasPErrors">Save</button>
      </div>
    </div>
  </form>
    </div>
    </div>
    
   
    
  </div>
</div>