.circle-red {
    border-radius: 50%;
    font-size: 15px;
    color: #FF0000;
    line-height: 15px;
    text-align: center;
    background: #FF0000;
}
.circle-green {
    border-radius: 50%;
    font-size: 15px;
    color: #58FA82;
    line-height: 15px;
    text-align: center;
    background: #58FA82;
}

#editor {
  height: 375px;
}