
html,body{
    height: 100%;   

}
/*mat-sidenav-container,mat-sidenav-content{
  height: 100%;   

}
sideNav{
    height: 100%;
}*/

mat-sidenav{
 height: 100%;
 max-width:450px;
 background-color:lightblue;
}

mat-sidenav-content{
    background-color: lightgrey;

}

/*mat-sidenav-container {
  margin-top: 20px;
   position: fixed;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;
}*/
sideNav-container {
  position: relative;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-ans {
    background-color: green;
    color: #fff;
}
.mat-ansTagged {
    background-color: blue;
    color: #fff;
}
.mat-tagged {
    background-color: orange;
    color: #fff;
}
.mat-unAns {
    background-color: grey;
    color: #fff;
}