.footer {
    padding-bottom: 70px;
    border-top: 4px solid #e9eaee;
    width: 100%;
    background-color: cornflowerblue;
    text-decoration-color: white;
    bottom: -480px
}
.footerTitle{
    text-align: left !important;
    font-size: 22px !important;
    text-transform: uppercase;
    margin: 8px 0px 15px 0px !important;
}